<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

  <properties resource="config/db.properties"></properties>
  
  <settings>
  	<setting name = "mapUnderscoreToCamelCase" value="true"></setting>
  </settings>

  <environments default="development">
    <environment id="development">
      <transactionManager type="JDBC"/>
      <dataSource type="POOLED">
        <property name="driver" value="${driver}"/>
        <property name="url" value="${url}"/>
        <property name="username" value="${user}"/>
        <property name="password" value="${passwd}"/>
      </dataSource>
    </environment>
  </environments>
  
  <mappers>
    <mapper resource="co/dev/mapper/MemberMapper.xml"/>
    <mapper resource="co/dev/mapper/NoticeMapper.xml"/>
  </mappers>
</configuration>